//Declaramos los Colores a usar
$AzulP: #299ebf;
$Blanco: #ffff;
$Negro: black;
$GrisClaro: #f5f5f5;
$Rosa: #620eeb;

//Declaramos los fuentes de letra a usar
$Fuente_Prinipal: 'Poppins', sans-serif;
$Fuente_Secundaria: 'Oswald', sans-serif;
$Textos: 'Quicksand', sans-serif;
$Referenci: 'Bebas Neue', cursive;