@use "../base/variables" as Variables;
@use "../base/mixins" as Mixins;

@include Mixins.Tablet {
    .Articulo{
        @include Mixins.grid(2, 5rem);
        .Articulo__img{
            grid-column: 1 / 3;
            img{
                width: 50%;
            }
        }
        .Articulo__Titulo{
            grid-column: 1 / 3;
            h2{
                font-size: 6.55rem;
            }
        }
        .Articulo__info{
            grid-column: 1 / 3;
            display: flex;
            justify-content: space-between;
            gap: 5rem;
            margin-top: -5rem;
        }
    }
}

.Articulo{
    margin-top: 7rem;
    img{
        width: 70%;
        margin: 0 auto;
        border-radius: 10rem;
        margin-bottom: 4rem;
    }
    p{
        font-family: Variables.$Textos;
    }
}